astropy==4.0.1.post1
astropy-healpix==0.5
astroquery==0.3.10
astrowidgets==0.1.1
healpy==1.13.0
ipydatawidgets==4.0.1
ipyevents==0.7.0
ipykernel==5.1.0
ipython>=7.16.1
ipython-genutils==0.2.0
ipyvolume==0.5.2
ipywebrtc==0.5.0
ipywidgets==7.5.1
jsonschema==3.1.1
jupyter==1.0.0
jupyter-client==6.1.3
jupyter-console==6.0.0
jupyter-core==4.6.3
jupyterlab==1.2.3
jupyterlab-server==1.0.6
matplotlib==3.2.1
nbconvert>=5.6.1
nbformat==4.4.0
notebook>=6.0.3
numexpr==2.6.9
numpy==1.18.5
pandas==0.24.1
photutils==0.7.1
pyhetdex --extra-index-url https://gate.mpe.mpg.de/pypi/simple/  
sep==1.0.3
speclite==0.8
specutils==1.0
scipy==1.2.0
sphinx-argparse==0.2.5
sphinx-markdown-tables
tables>=3.6.0
tornado==5.1.1
widgetsnbextension==3.5.1
