astropy==4.0.1.post1
astropy-healpix==0.5
astroquery==0.3.10
astrowidgets==0.1.1
healpy==1.13.0
ipywidgets>=7.5.1
matplotlib>=3.2.1
numpy>=1.18.5
photutils==0.7.1
regions==0.4
sep==1.0.3
speclite==0.8
specutils==1.0
scipy>=1.4
sphinx-argparse==0.2.5
sphinx-markdown-tables
tables>=3.5.2
widgetsnbextension>=3.5.1
